version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

  backend:
    image: madhan0s73/crud-mean-backend:latest   # from Docker Hub
    container_name: backend
    restart: always
    environment:
      MONGO_URL: mongodb://mongo:27017/dd_db
      PORT: 3000
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  frontend:
    image: madhan0s73/crud-mean-frontend:latest  # from Docker Hub
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8080:80"  # IMPORTANT: matches Nginx reverse proxy

volumes:
  mongo_data:
